language:
  - python
jobs:
  include:
    - name: "Python 3.8.0 on Xenial Linux"
      python: 3.8           # this works for Linux but is ignored on macOS or Windows
    - name: "Python 3.7.0 on Xenial Linux"
      python: 3.7           # this works for Linux but is ignored on macOS or Windows
      script:
        - set -e  # If any of the following steps fail, just stop at that point.
        - make -C docs html  # Build the documentation.
        - pip3 install doctr
        - doctr deploy --built-docs docs/build/html .  # Publish the documentation.
    - name: "Python 3.6.0 on Xenial Linux"
      python: 3.6           # this works for Linux but is ignored on macOS or Windows
      # https://blog.travis-ci.com/2018-10-11-windows-early-release
    - name: "Python 3.7.5 on macOS, xcode11.2"
      os: osx
      osx_image: xcode11.2  # Python 3.7.5 running on macOS 10.14.4
      language: shell       # 'language: python' is an error on Travis CI macOS
      # python: 3.7         # 'python:' is ignored on Travis CI macOS
      before_install:
        python3 --version ; pip3 --version ; sw_vers
    - name: "Python 3.7.5 on macOS, xcode10"
      os: osx
      osx_image: xcode10  # Python 3.7.4 running on macOS 10.13.6
      language: shell       # 'language: python' is an error on Travis CI macOS
      # python: 3.7         # 'python:' is ignored on Travis CI macOS
      before_install:
        python3 --version ; pip3 --version ; sw_vers
    - name: "Python 3.7.4 on Windows"
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      # python: 3.7         # 'python:' is ignored on Travis CI Windows
      before_install:
        - choco install python --version 3.7.4
        - python --version
        - python -m pip install --upgrade pip
        - pip3 install --upgrade pytest
        - pip3 install codecov
      env: PATH=/c/Python37:/c/Python37/Scripts:$PATH
    - name: "Python 3.8.0 on Windows"
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      # python: 3.7         # 'python:' is ignored on Travis CI Windows
      before_install:
        - choco install python --version 3.8.0
        - python --version
        - python -m pip install --upgrade pip
        - pip3 install --upgrade pytest
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH

install:
  # Install this package and the packages listed in requirements.txt.
  - pip3 install --upgrade pip
  - pip3 install . #pip install --upgrade pip
  # Install extra requirements for running tests and building docs.
  - pip3 install -r requirements-dev.txt

script:
  - coverage run -m pytest  # Run the tests and check for test coverage.
  - coverage report -m  # Generate test coverage report.
  - codecov  # Upload the report to codecov.
  #turn flake8 on when all formating issues are fixed and understood.
  # - flake8  # Enforce code style ('relaxed' line length limit is set in .flake8 config file).

notifications:
  email: false
cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.ccache  # https://github.com/travis-ci/travis-ci/issues/5853

env:
  global:
    # Doctr deploy key for vstadnytskyi/circular_buffer_numpy
    - secure: "Q6FeIJaBuTT7kN1FXDHqtpWpt+cXzDcRdWE6BOTmcqZr7HurzmCvsS8VZoz0aFGFIkVcsh8vck3z61PYgHu3D/gyP6YJjPUqyXVSxFCfKTcYnMA6DTQhXxPVcPuWN08bAlyS+LwuugOtqKKRkYpssH3/QS74jEgkbpKv0zyIfE7DdbvdxXjsR6zM9ivPRQPDYOdDBfOTGB0/vI249XNkw6O1HUstgeBNCX4aA2l2G3eqYkHPeD2KRS/I26HEBB2h10ux6wjAAetmMSIyae7WX0oQlo8W/GNGxSUmyZ2Q7Tx1tr8XSDy19ZpAfLIkbtW4LAtgFj5TJk9cHSJrCK3KAzEgkUoEKPI2DSafY+NuiR0HrTwyLpZwRTj1M5g8l3Zzg6H5et5nHPBrck8n3CR40CTDLuCEWzakpQhfqGKrDH/43HUJuUZJp83GLqjU8BkcxTBfmHJ3A384kg/iflZAnu9p2y09XzSmhttdsmWr2AczFiDapFq5uln15daZse3KVP75RNQzAVYU8RWVufW93NxZduYZJ4g3q1OgSzxsaW0PoVN6TKJ4qoyoBslN2XIjX2wLAwojLI8jNYWte+tfGFPOB4HwbfEKtypAIFbRb0ihTJOK0281MaO3W7qvDm4V75J0CKVcqpfA0XgKHDQbyqMDDFZi3KMQ0oyGkwe6cyQ="
